<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">{{ userDetails?.first_name }} {{ userDetails?.last_name }}</h3>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="myForm">
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons education_paper"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="First name..." formControlName="first_name" (focus)="focus=true" (blur)="focus=false">
                        </div>
                        <div class="text-danger text-left mb-2 m-l-45" *ngIf="(myForm.controls.first_name.touched || submitted) && myForm.controls.first_name.invalid">
                            <div *ngIf="myForm.controls.first_name.errors?.required || myForm.controls.first_name.errors?.whitespace">
                                First Name is required
                            </div>
                        </div>
    
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend" >
                                <span class="input-group-text">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Last name..." formControlName="last_name" (focus)="focus1=true" (blur)="focus1=false">
                        </div>
                        <div class="text-danger text-left mb-2 m-l-45" *ngIf="(myForm.controls.last_name.touched || submitted) && myForm.controls.last_name.invalid">
                            <div *ngIf="myForm.controls.last_name.errors?.required || myForm.controls.last_name.errors?.whitespace">
                                Last Name is required
                            </div>
                        </div>
    
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus2===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons business_money-coins"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Phone..." formControlName="phone" maxlength="10" (keypress)="numberOnly($event)" (focus)="focus2=true" (blur)="focus2=false">
                        </div>
                        <div class="text-danger text-left mb-2 m-l-45" *ngIf="(myForm.controls.phone.touched || submitted) && myForm.controls.phone.invalid">
                            <div *ngIf="myForm.controls.phone.errors?.required || myForm.controls.phone.errors?.whitespace">
                                Phone is required
                            </div>
                            <div *ngIf="myForm.controls.phone.errors?.pattern">
                                Phone must be a valid Indian number
                            </div>
                        </div>
    
                        <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus3===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email..." formControlName="email" (focus)="focus3=true" (blur)="focus3=false">
                        </div>
                        <div class="text-danger text-left mb-2" *ngIf="(myForm.controls.email.touched || submitted) && myForm.controls.email.invalid">
                            <div *ngIf="myForm.controls.email.errors?.required || myForm.controls.email.errors?.whitespace">
                                Email is required
                            </div>
                            <div *ngIf="myForm.controls.email.errors?.pattern">
                                Email is not a valid email
                            </div>
                        </div>

                        <div class="send-button">
                            <button type="submit" class="btn btn-primary btn-round btn-block btn-lg">Update</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>